{% extends "main.html" %} {% include "header.html" %} {% block content %}
<div class="catalog-container">
	<div class="flash">
		{% with messages = get_flashed_messages() %} {% if messages %}

		<ul>
			{% for message in messages %}
			<li>
				<strong> {{ message }} </strong>
			</li>
			{% endfor %}
		</ul>
		{% endif %} {% endwith %}
	</div>
	<div class="row">
		<div class="col-sm-3 catalog-list list-group">
			<h2>Categeries</h2>
			{% for catalog in catalogs %}
			<a href="{{ url_for('showCatalogItems', name=catalog.catalogName)}}">
				<h3 class="list-group-item">{{ catalog.catalogName }}</h3>
			</a>
			{% endfor %}
		</div>

		<div class="col-sm-8 latest-item list-group">
			{% if 'username' in session %}
			<a class="btn btn-primary" href="{{ url_for('newItem') }}" role="button"
				>Add Item</a
			>

			{%endif%}

			<h2>latest-item</h2>
			{% for item in items%}
			<h2 class="list-group-item">
				{{ item.itemName }} ({{ item.catalogName }})
			</h2>
			{% endfor %}
		</div>
	</div>
</div>
{% endblock %}
