{% extends "main.html" %} {% include "header.html" %}{% block content %}

<h1>Edit Item</h1>

<form method="POST">
	<div class="form-group">
		<label for="ControlInput1">Coin Name</label>
		<input
			name="coinname"
			class="form-control"
			value="{{ item.itemName }}"
			id="ControlInput1"
			placeholder="Coin Name"
		/>
	</div>
	<div class="form-group">
		<label for="ControlInput1">Description</label>
		<input
			class="form-control"
			name="description"
			value="{{ item.description }}"
			id="ControlInput2"
			placeholder="Description"
		/>
	</div>
	<div class="form-group">
		<label for="ControlSelect1">Category</label>
		<select
			name="catalogname"
			class="form-control"
			value="{{ selectedCatalog.catalogName }}"
			id="exampleFormControlSelect1"
		>
			{%for catalog in catalogs%}
			<option>{{ catalog.catalogName }}</option>
			{%endfor%}
		</select>
	</div>
	<button type="submit" class="btn btn-primary mb-2">Submit</button>
	<a class="btn btn-primary" role="button" href="{{ url_for('showCatalog') }}">
		Cancel</a
	>
</form>
{% endblock%}
