<div class="row top-menu">
	<div class="col-md-6">
		<a href="{{ url_for('showCatalog') }}">
			<span class="glyphicon glyphicon-home" aria-hidden="true"></span>Show All
			Cryptocurrencies
		</a>
	</div>
	<div class="col-md-6 text-right">
		<a class="btn btn-primary" role="button" href="{{ url_for('login') }}">
			Log In</a
		>

		<a
			class="btn btn-primary"
			role="button"
			href="{{ url_for('gdisconnect') }}"
		>
			Log Out</a
		>

		{% if 'username' in session %} {{ session["username"] }}
		{{ session["user_id"] }} {{ session["email"] }}{%endif%}
	</div>
</div>
