{% extends "main.html" %} {% include "header.html" %}{% block content %}
<div class="catalog-container">
	<div class="row">
		<div class="col-sm-3 catalog-list list-group">
			<a href="{{ url_for('showCatalog') }}"><h2>Categeries</h2></a>
			{% for catalog in catalogs %}
			<a href="{{ url_for('showCatalogItems', name=catalog.catalogName)}}">
				<h3 class="list-group-item">{{ catalog.catalogName }}</h3>
				{% endfor %}
			</a>
		</div>

		<div class="col-sm-8 latest-item list-group">
			<h2>{{ selected_catalog.catalogName }} ({{ items | length }} coins)</h2>
			{% for item in items%}
			<a
				href="{{url_for('showItemName', catalogName=selected_catalog.catalogName, itemName=item.itemName)}}"
			>
				<h2 class="list-group-item">{{ item.itemName }}</h2>
			</a>
			{% endfor %}
		</div>
	</div>
</div>

{% endblock%}
